<nav class="navbar container navbar-expand-lg navbar-light bg-light px-2 " style="background-color: white !important;">

    <div class="container-fluid">

        <div class="navbar-brand">
            <a href="/"> <img src="/img/logo.png" alt=""></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="d-flex items-center navx">
                    <li class="ml-6"><a href="/">Menu</a></li>
                    <!-- <li class="ml-6"><a href="#">Offers</a></li> -->
                    <% if(user){%>
                        <% if(user.role === 'admin'){ %>
                            <li class="ml-6">
                                <%= user.name %>
                            </li>
                            <li class="ml-6"><a href="/addpizza">Add Pizza</a></li>
                        <% } else{ %>
                            <li class="ml-6">
                                <%= user.name %>
                            </li>
                        <% } %>
                        <li class="ml-6">
                            <form id="logout" action="/logout" method="POST">
                                <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                            </form>
                        </li>
                        <%} else{%>
                            <li class="ml-6"><a href="/register">Register</a></li>
                            <li class="ml-6"><a href="/login">Login</a></li>

                            <% } %>
                                <li class="ml-6"><a href="/cart"
                                        class="inline-block px-4 py-2 rounded-full flex items-center">
                                        <span id="cartCounter" class="text-white font-bold pr-2">
                                            <%= session.cart ? session.cart.totalQty : '' %>
                                        </span>
                                        <img src="/img/cart.png" alt="">
                                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>