<div class="container my-5">
   

    <form action="/uploads" method="POST" enctype="multipart/form-data" class="row ">
        <div class="card col-md-5 col-11 mx-auto" style="border-radius: 20px;">
            <h1 class="font-weight-bold text-center mt-5" style="font-weight: 700; font-size: 1.4rem !important;">Add new new Pizza </h1>
            <div class="col-12">
                <div class="my-3 col-md-6 col-10 mx-auto">
                    <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold; font-size: 1.1rem !important;">Pizza Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="my-3 col-md-6 col-10 mx-auto">
                    <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold; font-size: 1.1rem !important;">Pizza Price</label>
                    <input type="number" class="form-control" name="price">
                </div>
                <div class="my-4 col-md-6 col-10 mx-auto">
                    <select class="form-select" aria-label="Default select example" name="size" style="font-weight: bold; font-size: 1.1rem !important;">
                        <option selected>Select the pizza size </option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Big</option>
                    </select>
                </div>
                <div class="my-3 col-md-6 col-10 mx-auto">
                    <input class="form-control" type="file" id="formFile" name="avatar">
                </div>
                <div class="my-3 col-md-6 col-10 mx-auto">
                    <button type="submit" class="btn btn-primary">Add Pizza</button>
                </div>


            </div>
        </div>

    </form>

</div>